<html>
  <head>
    <title>Weather</title>
  </head>
  <body>
    <form method="post" action="/">
    <h1>WeatherApi</h1>
    <label>Enter City</label>
    <input type="text" name="name">
    <button type="submit">submit</button>
    <p><%= serveroutput %></p>
    </form>
  </body>
</html>